
.top {
    
    padding: 75px;
    background-color: #1F2937;
    color: #F9FAF8;
}

img {
  
    height: 350px;
  }

  .header2 {
    font-size: 48px;
    font-weight: bolder;

  }

  .text,
  .links {
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
  }

  .button{
    background-color: #3882F6;
    width: 50px;
    padding: 18px;
    
  }
  .header3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
  }

  .quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
  }

 .banner {
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .links {
    display:flex;
    gap: 18px;
    
 }

.middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   
}

.middletext {
    display: flex;
    flex-direction: column;
    width: 300px;
    
}





