
.top {
    
    padding-bottom: 75px;
    background-color: #1F2937;
    color: #F9FAF8;
}


  

  .header2 {
    font-size: 48px;
    font-weight: bolder;

  }



  .links {
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
  }

  .button{
    background-color: #3882F6;
    width: 50px;
    padding: 10px 18px;
    border-radius: 10px;
    
  }
  .header3 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
  }

  .quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
  }

 .banner {
    padding: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .links {
    list-style: none;
    display:flex;
    gap: 18px;
    
 }

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
   
   
}

.middletext {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    padding-right: 300px;
    
}

.info {
    width: 200px;
    text-align: center;
}


.card {
    max-width: 100px;
    padding-left: 40px;
}

.pixel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    gap: 50px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 150px;
    
    
}

.signature {
    align-self: flex-end;
    padding-right: 100px;
    font-weight: bolder;
}

.bottom {
    display:flex;
    justify-content: space-around;
    margin: 100px;
    background-color: #3882F6;
    border-color: white;
    padding: 50px 50px;
}

.button {
    color: white;
    border: 2px white;
}




